.nav-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  background-color: black;
  color: white;
}
.logo {
  font-size: 2rem;
}
.nav-link-container {
  display: flex;
  gap: 2.5rem;
  font-weight: 400;
}
.nav-links {
  color: #fff;
  font-size: 1.5rem;
}
#icon {
  /* width: 2rem;
  height: 2rem; */
  font-size: 2rem;
  font-weight: 300;
}
.shop-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
