.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* justify-content: center;
  align-items: center; */

  text-align: center;

  gap: 5rem;

  /* grid-template-columns: 1fr 1fr 1fr; */
}
.category-details {
  background-color: rgba(153, 153, 153, 0.373);
  /* padding: 2rem 0.9rem; */
  border-radius: 1.5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.category-name {
  font-size: 2rem;
  letter-spacing: 0.08rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  padding-top: 5rem;
  color: black;
  display: inline-block;
}
.shop-name {
  font-size: 1.7rem;
}
.category-images {
  width: 30%;
  z-index: -1;
  margin-bottom: -6rem;
  margin-top: 3rem;
  object-fit: cover;
}
.category-card {
  justify-self: center;
  align-self: center;
}
