.category-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  text-align: center;

  gap: 6rem;

  margin-bottom: 9rem;
}
.category-details {
  background-color: rgba(153, 153, 153, 0.373);
  /* padding: 2rem 0.9rem; */
  border-radius: 1.5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.category-name {
  font-size: 2rem;
  letter-spacing: 0.08rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding-top: 10.5rem;

  color: black;
  display: inline-block;
}
.shop-name {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #777;
  letter-spacing: 0.08rem;
}
.category-images {
  width: 52%;
  z-index: -1;
  margin-bottom: -11rem;
  margin-top: 3rem;
  /* object-fit: fill; */
}
.category-card {
  justify-self: center;
  align-self: center;
}
#headphones .category-images {
  width: 47%;
}
#speakers .category-images {
  width: 48.7%;
}
.entity {
  font-size: 2.5rem;
  color: #ff922b;
}
