.product-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(31.9rem, 1fr));

  text-align: center;

  gap: 6rem;
  padding: 2rem 5rem;
}
/* .product-details-image {
  width: 100%;
} */
.product-details-image {
  width: 100%;
  transition: transform 0.3s ease-in-out !important;
}

.product-details-image:hover {
  transform: scale(1.1);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  text-align: left;
  padding: 4.5rem 0;
}
.new-product {
  font-size: 1.5rem;
  color: #d87d4a;
  letter-spacing: 1rem;
  font-weight: 400;
}
.product-name {
  font-size: 4.5rem;
  padding-right: 4.5rem;
  font-weight: 500;
  color: black;
  letter-spacing: 0.4rem;
}
.product-des {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  color: #444;
  padding-right: 5rem;
}
.price {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.add-contents {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
}
.selector {
  background-color: rgba(153, 153, 153, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  padding: 1.5rem 0.9rem;
}
.quantity {
  font-weight: 700;
}
