.cart-icon-container {
  /* width: 45px;
  height: 45px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon-container .shopping-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.cart-icon-container .item-count {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  bottom: 0.2rem;
}
